@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-360{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }

}

.hover-spin-360:hover{
    animation: spin-360 0.3s linear;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-weight: bold;
   
}
 
.nav-container {
    width: 100%;
    background-color: aliceblue;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-head{
    margin-right: 0;
}
.nav-center{
    display: flex;
    margin: 0 auto;
}
/* .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.logo img {
    height: 5rem;
    width: 5rem;
    border: #296bc1 2px solid;
    border-radius: 50%;
    position: relative;
    float: right; 
    margin: 1px;
}
.navlink{
    text-decoration: none;
    color: black;
    display: flex;
    justify-items: center;
    justify-content:space-between;
}
.active{
color: #0c3b78;
}


.toggle{
    display: none;
    color: #296bc1;
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    margin-right: 1rem;
    background: transparent;
    border: transparent;
    
}
.toggle:hover {
    transform: rotate(90deg);
}


.links ul {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.links ul li {
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    padding:15px;
}

.links{
    display: none;
    transition: all 1s ease-in;
}
.links ul li a:hover {
    color: #296bc1;
    
}
.show{
    display: flex;
}



.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .profile-item {
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content li {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  



@media (max-width:800px) {
    .toggle{
        display: block;
    }
    
    .logo img{
    margin-left: -15px;
    }
    .nav-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-container{
        display: block;
    }
    .links ul{
        display: flex;
        flex-direction: column;
    }
    .links ul li{
        margin: 0.5rem 0;
    }
}


